{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<main class="main">

  <div class="site-breadcrumb" style="background: url({{product.category.background_image_url}})">
    <div class="container">
      <h2 class="breadcrumb-title">{{product.title}}</h2>
      <ul class="breadcrumb-menu">
        <li><a href="{% url 'home-page' %}">{% trans 'Home' %}</a></li>
        <li class="active">{{product.title}}</li>
      </ul>
    </div>
  </div>

  <div class="service-single-area py-120">
    <div class="container">
      <div class="service-single-wrapper">
        <div class="row">
          <div class="col-xl-4 col-lg-4">
            <div class="service-sidebar">
              <div class="widget category">
                <h4 class="widget-title">{% trans 'Products Categories' %}</h4>
                <div class="category-list">
                  {% for category in other_categories %}
                  <a href="{{category.navigation_link}}">
                    <i class="far fa-angle-double-right"></i>{{category.title}}
                  </a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-8 col-lg-8">
            <div class="service-details">
              {% if product.image_content %}
              <div class="service-details-img mb-30">
                <img src="{{product.image_content.url}}" alt="thumb">
              </div>
              {% endif %}
              <div class="service-details">
                <h3 class="mb-30">{{product.title}}</h3>
                {{product.content | safe}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}