{% load static i18n %}
<div class="choose-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="choose-content">
                    <div class="site-heading mb-0">
                        <span class="site-title-tagline text-white">{% trans 'Why Choose Us' %}</span>
                        <h2 class="site-title text-white mb-10">{% trans 'Energize Society' %}
                            <span>{% trans 'With Reliable' %}</span>
                            {% trans 'Energy' %}
                        </h2>
                        <p class="text-white">
                            {% trans 'choose_text' %}
                        </p>
                    </div>
                    <div class="choose-content-wrapper">
                        <div class="row">

                            {% for choose in chooses %}

                            <div class="col-md-6">
                                <div class="choose-item">
                                    <div class="choose-item-icon">
                                        {{ choose.get_icon | safe }}
                                    </div>
                                    <div class="choose-item-info">
                                        <h3> {{ choose.title | safe }} </h3>
                                        <p> {{ choose.description | safe }} </p>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="choose-img" style="background-image: url('{% static 'assets/img/01 (1).jpg' %}')">
                    <div class="video-wrapper">
                        <a class="play-btn popup-youtube" href="{% trans 'choose_youtube_link' %}">
                            <i class="fas fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>