<div class="counter-area bg2 pt-70 pb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="counter-box">
                    <div class="icon"><i class="flaticon-available"></i></div>
                    <div>
                        <span class="counter" data-count="+" data-to="1500" data-speed="3000">1500</span>
                        <h6 class="title">+ Project Done</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="counter-box">
                    <div class="icon"><i class="flaticon-plug"></i></div>
                    <div>
                        <span class="counter" data-count="+" data-to="250" data-speed="3000">250</span>
                        <h6 class="title">+ Happy Clients</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="counter-box">
                    <div class="icon"><i class="flaticon-helmet"></i></div>
                    <div>
                        <span class="counter" data-count="+" data-to="120" data-speed="3000">120</span>
                        <h6 class="title">+ Active Experts</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="counter-box">
                    <div class="icon"><i class="flaticon-repair"></i></div>
                    <div>
                        <span class="counter" data-count="+" data-to="50" data-speed="3000">50</span>
                        <h6 class="title">+ Win Awards</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>