<div class="process-area py-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="site-heading text-center">
                    <span class="site-title-tagline">Working Process</span>
                    <h2 class="site-title">How It <span>Works</span></h2>
                    <div class="heading-divider"></div>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content
                        of a page when looking at its layout.
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-lg-3 col-md-6 text-center mb-30">
                <div class="process-single">
                    <div class="icon">
                        <span>01</span>
                        <img src="assets/img/service.jpg" alt="">
                    </div>
                    <h4>Choose Service</h4>
                    <p>It is a long established fact that a reader will be distracted.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center mb-30">
                <div class="process-single">
                    <div class="icon">
                        <span>02</span>
                        <img src="assets/img/schedule.jpg" alt="">
                    </div>
                    <h4>Schedule Meeting</h4>
                    <p>It is a long established fact that a reader will be distracted.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center mb-30">
                <div class="process-single">
                    <div class="icon">
                        <span>03</span>
                        <img src="assets/img/consult.jpg" alt="">
                    </div>
                    <h4>Consult Expert Team</h4>
                    <p>It is a long established fact that a reader will be distracted.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center mb-30">
                <div class="process-single">
                    <div class="icon">
                        <span>04</span>
                        <img src="assets/img/installation.jpg" alt="">
                    </div>
                    <h4>Solar Installation</h4>
                    <p>It is a long established fact that a reader will be distracted.</p>
                </div>
            </div>
        </div>
    </div>
</div>