{% load static i18n %}

<div class="process-area py-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="site-heading text-center">
                    <span class="site-title-tagline">{% trans 'Working Process' %}</span>
                    <h2 class="site-title">{% trans 'How It' %} <span>{% trans 'Works' %}</span></h2>
                    <div class="heading-divider"></div>
                    <p>
                        {% trans 'process.text' %}
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">

            {% for process_item in process_items %}

            <div class="col-lg-3 col-md-6 text-center mb-30">
                <div class="process-single">
                    <div class="icon">
                        <span>0{{forloop.counter}}</span>
                        <img src="{{ process_item.image.url }}" alt="">
                    </div>
                    <h4> {{ process_item.title }}</h4>
                    <p> {{ process_item.description }} </p>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>
</div>