<div class="service-area bg py-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="site-heading text-center">
                    <span class="site-title-tagline">Services</span>
                    <h2 class="site-title">What We <span>Offer</span></h2>
                    <div class="heading-divider"></div>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content
                        of a page when looking at its layout.
                    </p>
                </div>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-solar-panel"></i>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">
                            <a href="#">Renewable Energy</a>
                        </h3>
                        <p class="service-text">
                            There are many variations of passages available but the majority have suffered
                            alteration injected.
                        </p>
                        <div class="service-arrow">
                            <a href="#" class="service-btn"><i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-solar-panel-1"></i>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">
                            <a href="#">Easy Installation</a>
                        </h3>
                        <p class="service-text">
                            There are many variations of passages available but the majority have suffered
                            alteration injected.
                        </p>
                        <div class="service-arrow">
                            <a href="#" class="service-btn"><i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-solar-panel-2"></i>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">
                            <a href="#">Solar Panels</a>
                        </h3>
                        <p class="service-text">
                            There are many variations of passages available but the majority have suffered
                            alteration injected.
                        </p>
                        <div class="service-arrow">
                            <a href="#" class="service-btn"><i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-wind-turbine"></i>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">
                            <a href="#">Wind Generators</a>
                        </h3>
                        <p class="service-text">
                            There are many variations of passages available but the majority have suffered
                            alteration injected.
                        </p>
                        <div class="service-arrow">
                            <a href="#" class="service-btn"><i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-wind-turbine-3"></i>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">
                            <a href="#">Non Polluting</a>
                        </h3>
                        <p class="service-text">
                            There are many variations of passages available but the majority have suffered
                            alteration injected.
                        </p>
                        <div class="service-arrow">
                            <a href="#" class="service-btn"><i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-drill"></i>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">
                            <a href="#">Repair Services</a>
                        </h3>
                        <p class="service-text">
                            There are many variations of passages available but the majority have suffered
                            alteration injected.
                        </p>
                        <div class="service-arrow">
                            <a href="#" class="service-btn"><i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-plug"></i>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">
                            <a href="#">Clean Energy</a>
                        </h3>
                        <p class="service-text">
                            There are many variations of passages available but the majority have suffered
                            alteration injected.
                        </p>
                        <div class="service-arrow">
                            <a href="#" class="service-btn"><i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-gear"></i>
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">
                            <a href="#">Solar Maintenance</a>
                        </h3>
                        <p class="service-text">
                            There are many variations of passages available but the majority have suffered
                            alteration injected.
                        </p>
                        <div class="service-arrow">
                            <a href="#" class="service-btn"><i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>