<div class="cta-area">
    <div class="container">
        <div class="row">
            <div class="cta-content">
                <h1>Energize the future with solar power</h1>
                <p>It is a long established fact that a reader will be distracted by the readable <br> content
                    of a
                    page when looking at its layout.</p>
                <a href="#" class="theme-btn">Contact Us Now <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>