<div class="partner-area pt-70 pb-70">
    <div class="container">
        <div class="partner-wrapper partner-slider owl-carousel owl-theme owl-loaded owl-drag">
            <div class="owl-stage-outer">
                <div class="owl-stage">
                    <div class="owl-item">
                        <img src="assets/img/partner.jpg" alt="thumb">
                    </div>
                    <div class="owl-item">
                        <img src="assets/img/partner2.jpg" alt="thumb">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>