{% load static i18n %}
<div class="team-area py-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mx-auto">
                <div class="site-heading text-center">
                    <span class="site-title-tagline">{% trans 'Team' %}</span>
                    <h2 class="site-title">{% trans 'Meet Our' %} <span>{% trans 'Experts' %}</span></h2>
                    <div class="heading-divider"></div>
                    <p>
                        {% trans 'team_text' %}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">

            {% for team_expert in team_experts %}

            <div class="col-md-6 col-lg-3">
                <div class="team-item">
                    <img src="{{ team_expert.image.url }}" alt="thumb">
                    <div class="team-social">
                        {% for link in team_expert.links.all %}
                        <a href="{{link.link}}">{{link.get_icon | safe }}</a>
                        {% endfor %}
                    </div>
                    <div class="team-content">
                        <div class="team-bio">
                            <h5><a href="#"> {{ team_expert.title }} </a></h5>
                            <span> {{ team_expert.job }} </span>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}


        </div>
    </div>
</div>