{% load i18n %}
<div class="service-area bg py-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="site-heading text-center">
                    <span class="site-title-tagline">{% trans 'Services' %}</span>
                    <h2 class="site-title"> {% trans 'What We' %} <span>{% trans 'Offer' %}</span></h2>
                    <div class="heading-divider"></div>
                    <p>
                        {% trans 'services_short_desc' %}
                    </p>
                </div>
            </div>
        </div>
        <div class="row g-4">
            {% for service in services %}
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="service-item">
                    <div class="service-icon">
                        {{ service.get_icon | safe}}
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">
                            <a href="#">{{ service.title }}</a>
                        </h3>
                        <p class="service-text">
                            {{ service.description }}
                        </p>
                        <div class="service-arrow">
                            <a href="{{service.url}}" class="service-btn"><i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>