{% load static i18n %}
<div class="partner-area pt-70 pb-70">
    <div class="container">
        <div class="partner-wrapper partner-slider owl-carousel owl-theme owl-loaded owl-drag">
            <div class="owl-stage-outer">
                <div class="owl-stage">
                    {% for partner in partners %}
                    <div class="owl-item">
                        <a href="{{partner.url}}">
                            <img src="{{partner.get_image}}" alt="{{partner.get_alt}}">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>