{% load static  i18n %}

<div class="blog-area pt-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="site-heading text-center">
                    <span class="site-title-tagline">{% trans 'Our Blog' %}</span>
                    <h2 class="site-title">{% trans 'News' %} &amp; <span>{% trans 'Blog' %}</span></h2>
                    <div class="heading-divider"></div>
                    <p>
                        {% trans 'blog_text_trans' %}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">

            
            {% for blog in blogs %}
                    
                <div class="col-md-6 col-lg-4">
                    <div class="blog-item">
                        <div class="blog-item-img">
                            <img src="{{ blog.image_description.url }}" alt="Thumb">
                        </div>
                        <div class="blog-item-info">
                            <div class="blog-item-meta">
                                <ul>
                                    <li><a href="#"><i class="far fa-user-circle"></i> {{ blog.author }}</a></li>
                                    <li><a href="#"><i class="far fa-calendar-alt"></i> {{ blog.date  }}</a></li>
                                </ul>
                            </div>
                            <h4 class="blog-title">
                                <a href="#">{{ blog.title }}</a>
                            </h4>
                            <p>
                                {{ blog.short_description |slice:":100"}}...
                            </p>
                            <a class="blog-btn" href="{{blog.url}}">Read More<i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}    

        </div>
    </div>
</div>