<div class="feature-area pb-80">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xl-4">
                <div class="feature-item">
                    <div class="feature-icon">
                        <i class="flaticon-helmet"></i>
                    </div>
                    <div class="feature-content">
                        <h4>Trained Workers</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable
                            content of a page when looking at its layout.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4">
                <div class="feature-item active">
                    <div class="feature-icon">
                        <i class="flaticon-gear"></i>
                    </div>
                    <div class="feature-content">
                        <h4>Quality Material</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable
                            content of a page when looking at its layout.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4">
                <div class="feature-item">
                    <div class="feature-icon">
                        <i class="flaticon-clock"></i>
                    </div>
                    <div class="feature-content">
                        <h4>Awesome Support</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable
                            content of a page when looking at its layout.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>