{% load static i18n %}
<div class="case-area py-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="site-heading text-center">
                    <span class="site-title-tagline">{% trans 'Projects' %}</span>
                    <h2 class="site-title">{% trans 'Our Featured' %}<span>{% trans 'Projects' %}</span></h2>
                    <div class="heading-divider"></div>
                    <p>
                        {% trans 'case_text' %}
                    </p>
                </div>
            </div>
        </div>
        <div class="row popup-gallery">
            <div class="case-slider owl-carousel owl-theme owl-loaded">
                <div class="owl-stage-outer">
                    <div class="owl-stage">
                        <div class="owl-item ">

                            {% for case in cases %}

                            <div class="case-item">
                                <div class="case-img">
                                    <img class="img-fluid" src="{{ case.image.url }}" alt="">
                                    <a class="popup-img case-link" href="{{ case.image.url }}"> <i
                                            class="far fa-plus"></i></a>
                                </div>
                                <div class="case-content">
                                    <div class="case-content-info">
                                        <small>{{case.category.title}}</small>
                                        <h4><a href="{{case.detail_link}}">{{case.title}}</a></h4>
                                    </div>
                                    <a href="{{case.detail_link}}" class="case-arrow"><i
                                            class="far fa-arrow-right"></i></a>
                                </div>
                            </div>

                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="owl-nav">
                    <button type="button" role="presentation" class="owl-prev"><i
                            class="far fa-long-arrow-left"></i></button>
                    <button type="button" role="presentation" class="owl-next"><i
                            class="far fa-long-arrow-right"></i></button>
                </div>
                <div class="owl-dots disabled"></div>
            </div>
        </div>
    </div>
</div>