<div class="testimonial-area bg py-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="site-heading text-center">
                    <span class="site-title-tagline">Testimonials</span>
                    <h2 class="site-title">What Client <span>Say's</span></h2>
                    <div class="heading-divider"></div>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content
                        of a page when looking at its layout.
                    </p>
                </div>
            </div>
        </div>
        <div class="testimonial-slider owl-carousel owl-theme owl-loaded owl-drag">
            <div class="owl-stage-outer">
                <div class="owl-stage">
                    <div class="owl-item">
                        <div class="testimonial-single">
                            <div class="testimonial-quote">
                                <span class="testimonial-quote-icon"><i class="fal fa-quote-right"></i></span>
                                <p>
                                    There are many variations of passages of Lorem Ipsum available, but the
                                    majority
                                    have
                                    suffered alteration in some form, by injected humour.
                                </p>
                            </div>
                            <div class="testimonial-content">
                                <div class="testimonial-author-img">
                                    <img src="assets/img/comments.jpg" alt="">
                                </div>
                                <div class="testimonial-author-info">
                                    <h4>Gordon D Novak</h4>
                                    <p>Customer</p>
                                    <div class="testimonial-rate">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>