<div class="blog-area pt-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="site-heading text-center">
                    <span class="site-title-tagline">Our Blog</span>
                    <h2 class="site-title">News &amp; <span>Blog</span></h2>
                    <div class="heading-divider"></div>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content
                        of a page when looking at its layout.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-item-img">
                        <img src="assets/img/121.jpg" alt="Thumb">
                    </div>
                    <div class="blog-item-info">
                        <div class="blog-item-meta">
                            <ul>
                                <li><a href="#"><i class="far fa-user-circle"></i> By Alicia Davis</a></li>
                                <li><a href="#"><i class="far fa-calendar-alt"></i> August 21, 2021</a></li>
                            </ul>
                        </div>
                        <h4 class="blog-title">
                            <a href="#">There are many variations of passages orem available</a>
                        </h4>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable.
                        </p>
                        <a class="blog-btn" href="#">Read More<i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-item-img">
                        <img src="assets/img/121.jpg" alt="Thumb">
                    </div>
                    <div class="blog-item-info">
                        <div class="blog-item-meta">
                            <ul>
                                <li><a href="#"><i class="far fa-user-circle"></i> By Alicia Davis</a></li>
                                <li><a href="#"><i class="far fa-calendar-alt"></i> August 21, 2021</a></li>
                            </ul>
                        </div>
                        <h4 class="blog-title">
                            <a href="#">There are many variations of passages orem available</a>
                        </h4>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable.
                        </p>
                        <a class="blog-btn" href="#">Read More<i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-item-img">
                        <img src="assets/img/121.jpg" alt="Thumb">
                    </div>
                    <div class="blog-item-info">
                        <div class="blog-item-meta">
                            <ul>
                                <li><a href="#"><i class="far fa-user-circle"></i> By Alicia Davis</a></li>
                                <li><a href="#"><i class="far fa-calendar-alt"></i> August 21, 2021</a></li>
                            </ul>
                        </div>
                        <h4 class="blog-title">
                            <a href="#">There are many variations of passages orem available</a>
                        </h4>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable.
                        </p>
                        <a class="blog-btn" href="#">Read More<i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>