{% extends 'base.html' %}

{% block content %}
<main class="main">

    <div class="hero-section">
        <div class="hero-slider owl-carousel owl-theme owl-loaded">
            <div class="owl-stage-outer">
                <div class="owl-stage">
                    <div class="owl-item">
                        <div class="hero-single" style="background-image: url('assets/img/slider-1.jpg')">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-md-7 col-lg-7">
                                        <div class="hero-content">
                                            <h6 class="hero-sub-title wow animate__ animate__fadeInUp animated"
                                                data-wow-duration="1s" data-wow-delay=".25s">
                                                Solar And Renewable Energy</h6>
                                            <h1 class="hero-title wow animate__ animate__fadeInUp animated"
                                                data-wow-duration="1s" data-wow-delay=".50s">
                                                Best Solar <span>Energy Source</span> For You
                                            </h1>
                                            <p class="wow animate__ animate__fadeInUp animated" data-wow-duration="1s"
                                                data-wow-delay=".75s">
                                                There are many variations of passages available but the majority
                                                have
                                                suffered
                                                alteration in some form by injected humour or randomised words.
                                            </p>
                                            <div class="hero-btn wow animate__ animate__fadeInUp animated"
                                                data-wow-duration="1s" data-wow-delay="1s">
                                                <a href="contact.html" class="theme-btn">Contact Us<i
                                                        class="fas fa-arrow-circle-right"></i></a>
                                                <a href="about.html" class="theme-btn theme-btn2">About Us<i
                                                        class="fas fa-arrow-circle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="about-area py-120">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-left">
                        <div class="about-img">
                            <img src="assets/img/ishchi.jpg" alt="">
                        </div>
                        <div class="about-experience">
                            <span>30</span>
                            <h5>Years Of <br> Experience</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-right">
                        <div class="site-heading mb-3">
                            <span class="site-title-tagline">About Us</span>
                            <h2 class="site-title">
                                We Provide Solar <span>Energy Solutions</span> For You
                            </h2>
                        </div>
                        <p class="about-text">There are many variations of passages of Lorem Ipsum available, but
                            the majority have suffered alteration in some form, by injected humour, or randomised
                            words which don't look even slightly believable. If you are going to use a passage of
                            orem psum you need to be sure.All the Lorem Ipsum generators on the Internet tend to
                            repeat predefined chunks.</p>
                        <div class="about-list-wrapper">
                            <ul class="about-list list-unstyled">
                                <li>
                                    <div class="icon"><i class="flaticon-solar-panel"></i></div>
                                    <div class="text">
                                        <h4>Highly Solar Solutions</h4>
                                        <p>Take a look at our round up of the best shows.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon"><i class="flaticon-wind-turbine"></i></div>
                                    <div class="text">
                                        <h4>Best Renewable Energy</h4>
                                        <p>It has survived not only five centuries.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <a href="about.html" class="theme-btn">Discover More <i
                                class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="feature-area pb-80">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="feature-item">
                        <div class="feature-icon">
                            <i class="flaticon-helmet"></i>
                        </div>
                        <div class="feature-content">
                            <h4>Trained Workers</h4>
                            <p>It is a long established fact that a reader will be distracted by the readable
                                content of a page when looking at its layout.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="feature-item active">
                        <div class="feature-icon">
                            <i class="flaticon-gear"></i>
                        </div>
                        <div class="feature-content">
                            <h4>Quality Material</h4>
                            <p>It is a long established fact that a reader will be distracted by the readable
                                content of a page when looking at its layout.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="feature-item">
                        <div class="feature-icon">
                            <i class="flaticon-clock"></i>
                        </div>
                        <div class="feature-content">
                            <h4>Awesome Support</h4>
                            <p>It is a long established fact that a reader will be distracted by the readable
                                content of a page when looking at its layout.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="service-area bg py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">Services</span>
                        <h2 class="site-title">What We <span>Offer</span></h2>
                        <div class="heading-divider"></div>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content
                            of a page when looking at its layout.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-solar-panel"></i>
                        </div>
                        <div class="service-content">
                            <h3 class="service-title">
                                <a href="#">Renewable Energy</a>
                            </h3>
                            <p class="service-text">
                                There are many variations of passages available but the majority have suffered
                                alteration injected.
                            </p>
                            <div class="service-arrow">
                                <a href="#" class="service-btn"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-solar-panel-1"></i>
                        </div>
                        <div class="service-content">
                            <h3 class="service-title">
                                <a href="#">Easy Installation</a>
                            </h3>
                            <p class="service-text">
                                There are many variations of passages available but the majority have suffered
                                alteration injected.
                            </p>
                            <div class="service-arrow">
                                <a href="#" class="service-btn"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-solar-panel-2"></i>
                        </div>
                        <div class="service-content">
                            <h3 class="service-title">
                                <a href="#">Solar Panels</a>
                            </h3>
                            <p class="service-text">
                                There are many variations of passages available but the majority have suffered
                                alteration injected.
                            </p>
                            <div class="service-arrow">
                                <a href="#" class="service-btn"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-wind-turbine"></i>
                        </div>
                        <div class="service-content">
                            <h3 class="service-title">
                                <a href="#">Wind Generators</a>
                            </h3>
                            <p class="service-text">
                                There are many variations of passages available but the majority have suffered
                                alteration injected.
                            </p>
                            <div class="service-arrow">
                                <a href="#" class="service-btn"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-wind-turbine-3"></i>
                        </div>
                        <div class="service-content">
                            <h3 class="service-title">
                                <a href="#">Non Polluting</a>
                            </h3>
                            <p class="service-text">
                                There are many variations of passages available but the majority have suffered
                                alteration injected.
                            </p>
                            <div class="service-arrow">
                                <a href="#" class="service-btn"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-drill"></i>
                        </div>
                        <div class="service-content">
                            <h3 class="service-title">
                                <a href="#">Repair Services</a>
                            </h3>
                            <p class="service-text">
                                There are many variations of passages available but the majority have suffered
                                alteration injected.
                            </p>
                            <div class="service-arrow">
                                <a href="#" class="service-btn"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-plug"></i>
                        </div>
                        <div class="service-content">
                            <h3 class="service-title">
                                <a href="#">Clean Energy</a>
                            </h3>
                            <p class="service-text">
                                There are many variations of passages available but the majority have suffered
                                alteration injected.
                            </p>
                            <div class="service-arrow">
                                <a href="#" class="service-btn"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-gear"></i>
                        </div>
                        <div class="service-content">
                            <h3 class="service-title">
                                <a href="#">Solar Maintenance</a>
                            </h3>
                            <p class="service-text">
                                There are many variations of passages available but the majority have suffered
                                alteration injected.
                            </p>
                            <div class="service-arrow">
                                <a href="#" class="service-btn"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="counter-area bg2 pt-70 pb-70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="counter-box">
                        <div class="icon"><i class="flaticon-available"></i></div>
                        <div>
                            <span class="counter" data-count="+" data-to="1500" data-speed="3000">1500</span>
                            <h6 class="title">+ Project Done</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="counter-box">
                        <div class="icon"><i class="flaticon-plug"></i></div>
                        <div>
                            <span class="counter" data-count="+" data-to="250" data-speed="3000">250</span>
                            <h6 class="title">+ Happy Clients</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="counter-box">
                        <div class="icon"><i class="flaticon-helmet"></i></div>
                        <div>
                            <span class="counter" data-count="+" data-to="120" data-speed="3000">120</span>
                            <h6 class="title">+ Active Experts</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="counter-box">
                        <div class="icon"><i class="flaticon-repair"></i></div>
                        <div>
                            <span class="counter" data-count="+" data-to="50" data-speed="3000">50</span>
                            <h6 class="title">+ Win Awards</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="case-area py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">Projects</span>
                        <h2 class="site-title">Our Featured <span>Projects</span></h2>
                        <div class="heading-divider"></div>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content
                            of a page when looking at its layout.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row popup-gallery">
                <div class="case-slider owl-carousel owl-theme owl-loaded">
                    <div class="owl-stage-outer">
                        <div class="owl-stage">
                            <div class="owl-item ">
                                <div class="case-item">
                                    <div class="case-img">
                                        <img class="img-fluid" src="assets/img/01.jpg" alt="">
                                        <a class="popup-img case-link" href="assets/img/01.jpg"> <i
                                                class="far fa-plus"></i></a>
                                    </div>
                                    <div class="case-content">
                                        <div class="case-content-info">
                                            <small>Solar Power</small>
                                            <h4><a href="#">Solar Energy</a></h4>
                                        </div>
                                        <a href="#" class="case-arrow"><i class="far fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-nav">
                        <button type="button" role="presentation" class="owl-prev"><i
                                class="far fa-long-arrow-left"></i></button>
                        <button type="button" role="presentation" class="owl-next"><i
                                class="far fa-long-arrow-right"></i></button>
                    </div>
                    <div class="owl-dots disabled"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="choose-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="choose-content">
                        <div class="site-heading mb-0">
                            <span class="site-title-tagline text-white">Why Choose Us</span>
                            <h2 class="site-title text-white mb-10">Energize Society <span>With Reliable</span>
                                Energy
                            </h2>
                            <p class="text-white">
                                It is a long established fact that a reader will be distracted by the readable
                                content of a page when looking at its layout.
                            </p>
                        </div>
                        <div class="choose-content-wrapper">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="choose-item">
                                        <div class="choose-item-icon">
                                            <i class="flaticon-plug"></i>
                                        </div>
                                        <div class="choose-item-info">
                                            <h3>Save Your Money</h3>
                                            <p>There are many variations of passages of Lorem Ipsum available but
                                                the
                                                majority have suffered.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="choose-item">
                                        <div class="choose-item-icon">
                                            <i class="flaticon-chat-1"></i>
                                        </div>
                                        <div class="choose-item-info">
                                            <h3>Consult &amp; Planning</h3>
                                            <p>There are many variations of passages of Lorem Ipsum available but
                                                the
                                                majority have suffered.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="choose-item">
                                        <div class="choose-item-icon">
                                            <i class="flaticon-clock"></i>
                                        </div>
                                        <div class="choose-item-info">
                                            <h3>Individual Support</h3>
                                            <p>There are many variations of passages of Lorem Ipsum available but
                                                the
                                                majority have suffered.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="choose-item">
                                        <div class="choose-item-icon">
                                            <i class="flaticon-available"></i>
                                        </div>
                                        <div class="choose-item-info">
                                            <h3>Certified Engineers</h3>
                                            <p>There are many variations of passages of Lorem Ipsum available but
                                                the
                                                majority have suffered.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="choose-img" style="background-image: url('assets/img/01 (1).jpg')">
                        <div class="video-wrapper">
                            <a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=KgdDQGSL0qs">
                                <i class="fas fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="team-area py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">Team</span>
                        <h2 class="site-title">Meet Our <span>Experts</span></h2>
                        <div class="heading-divider"></div>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content
                            of a page when looking at its layout.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="team-item">
                        <img src="assets/img/experts.jpg" alt="thumb">
                        <div class="team-social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                        <div class="team-content">
                            <div class="team-bio">
                                <h5><a href="#">Malissa Fie</a></h5>
                                <span>Project Manager</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="team-item">
                        <img src="assets/img/experts.jpg" alt="thumb">
                        <div class="team-social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                        <div class="team-content">
                            <div class="team-bio">
                                <h5><a href="#">Arron Rodri</a></h5>
                                <span>Senior Engineer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="team-item">
                        <img src="assets/img/experts.jpg" alt="thumb">
                        <div class="team-social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                        <div class="team-content">
                            <div class="team-bio">
                                <h5><a href="#">Chad Smith</a></h5>
                                <span>Engineer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="team-item">
                        <img src="assets/img/experts.jpg" alt="thumb">
                        <div class="team-social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                        <div class="team-content">
                            <div class="team-bio">
                                <h5><a href="#">Tony Pinto</a></h5>
                                <span>Founder</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="cta-area">
        <div class="container">
            <div class="row">
                <div class="cta-content">
                    <h1>Energize the future with solar power</h1>
                    <p>It is a long established fact that a reader will be distracted by the readable <br> content
                        of a
                        page when looking at its layout.</p>
                    <a href="#" class="theme-btn">Contact Us Now <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>


    <div class="process-area py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">Working Process</span>
                        <h2 class="site-title">How It <span>Works</span></h2>
                        <div class="heading-divider"></div>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content
                            of a page when looking at its layout.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-lg-3 col-md-6 text-center mb-30">
                    <div class="process-single">
                        <div class="icon">
                            <span>01</span>
                            <img src="assets/img/service.jpg" alt="">
                        </div>
                        <h4>Choose Service</h4>
                        <p>It is a long established fact that a reader will be distracted.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-30">
                    <div class="process-single">
                        <div class="icon">
                            <span>02</span>
                            <img src="assets/img/schedule.jpg" alt="">
                        </div>
                        <h4>Schedule Meeting</h4>
                        <p>It is a long established fact that a reader will be distracted.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-30">
                    <div class="process-single">
                        <div class="icon">
                            <span>03</span>
                            <img src="assets/img/consult.jpg" alt="">
                        </div>
                        <h4>Consult Expert Team</h4>
                        <p>It is a long established fact that a reader will be distracted.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-30">
                    <div class="process-single">
                        <div class="icon">
                            <span>04</span>
                            <img src="assets/img/installation.jpg" alt="">
                        </div>
                        <h4>Solar Installation</h4>
                        <p>It is a long established fact that a reader will be distracted.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="testimonial-area bg py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">Testimonials</span>
                        <h2 class="site-title">What Client <span>Say's</span></h2>
                        <div class="heading-divider"></div>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content
                            of a page when looking at its layout.
                        </p>
                    </div>
                </div>
            </div>
            <div class="testimonial-slider owl-carousel owl-theme owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage">
                        <div class="owl-item">
                            <div class="testimonial-single">
                                <div class="testimonial-quote">
                                    <span class="testimonial-quote-icon"><i class="fal fa-quote-right"></i></span>
                                    <p>
                                        There are many variations of passages of Lorem Ipsum available, but the
                                        majority
                                        have
                                        suffered alteration in some form, by injected humour.
                                    </p>
                                </div>
                                <div class="testimonial-content">
                                    <div class="testimonial-author-img">
                                        <img src="assets/img/comments.jpg" alt="">
                                    </div>
                                    <div class="testimonial-author-info">
                                        <h4>Gordon D Novak</h4>
                                        <p>Customer</p>
                                        <div class="testimonial-rate">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="blog-area pt-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">Our Blog</span>
                        <h2 class="site-title">News &amp; <span>Blog</span></h2>
                        <div class="heading-divider"></div>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content
                            of a page when looking at its layout.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="blog-item">
                        <div class="blog-item-img">
                            <img src="assets/img/121.jpg" alt="Thumb">
                        </div>
                        <div class="blog-item-info">
                            <div class="blog-item-meta">
                                <ul>
                                    <li><a href="#"><i class="far fa-user-circle"></i> By Alicia Davis</a></li>
                                    <li><a href="#"><i class="far fa-calendar-alt"></i> August 21, 2021</a></li>
                                </ul>
                            </div>
                            <h4 class="blog-title">
                                <a href="#">There are many variations of passages orem available</a>
                            </h4>
                            <p>
                                It is a long established fact that a reader will be distracted by the readable.
                            </p>
                            <a class="blog-btn" href="#">Read More<i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="blog-item">
                        <div class="blog-item-img">
                            <img src="assets/img/121.jpg" alt="Thumb">
                        </div>
                        <div class="blog-item-info">
                            <div class="blog-item-meta">
                                <ul>
                                    <li><a href="#"><i class="far fa-user-circle"></i> By Alicia Davis</a></li>
                                    <li><a href="#"><i class="far fa-calendar-alt"></i> August 21, 2021</a></li>
                                </ul>
                            </div>
                            <h4 class="blog-title">
                                <a href="#">There are many variations of passages orem available</a>
                            </h4>
                            <p>
                                It is a long established fact that a reader will be distracted by the readable.
                            </p>
                            <a class="blog-btn" href="#">Read More<i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="blog-item">
                        <div class="blog-item-img">
                            <img src="assets/img/121.jpg" alt="Thumb">
                        </div>
                        <div class="blog-item-info">
                            <div class="blog-item-meta">
                                <ul>
                                    <li><a href="#"><i class="far fa-user-circle"></i> By Alicia Davis</a></li>
                                    <li><a href="#"><i class="far fa-calendar-alt"></i> August 21, 2021</a></li>
                                </ul>
                            </div>
                            <h4 class="blog-title">
                                <a href="#">There are many variations of passages orem available</a>
                            </h4>
                            <p>
                                It is a long established fact that a reader will be distracted by the readable.
                            </p>
                            <a class="blog-btn" href="#">Read More<i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="partner-area pt-70 pb-70">
        <div class="container">
            <div class="partner-wrapper partner-slider owl-carousel owl-theme owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage">
                        <div class="owl-item">
                            <img src="assets/img/partner.jpg" alt="thumb">
                        </div>
                        <div class="owl-item">
                            <img src="assets/img/partner2.jpg" alt="thumb">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

{% endblock content %}