{% extends 'base.html' %}

{% block content %}
<main class="main">

    {% include 'components/home/index_hero.html' %}
    {% include 'components/home/index_about.html' %}
    {% include 'components/home/index_feature.html' %}
    {% include 'components/home/index_service.html' %}
    {% include 'components/home/index_counter.html' %}
    {% include 'components/home/index_case.html' %}
    {% include 'components/home/index_choose.html' %}
    {% include 'components/home/index_team.html' %}
    {% include 'components/home/index_cta.html' %}
    {% include 'components/home/index_process.html' %}
    {% include 'components/home/index_testimonial.html' %}
    {% include 'components/home/index_blog.html' %}
    {% include 'components/home/index_partner.html' %}

</main>

{% endblock content %}